<h3>What would you like your Username to be?</h3>

<form action='/set_name' method='post'>
  <input type='text' name='player_name'/>
    </br>
  <input type='submit' value="Submit Name" class='btn'/>

</form>